__pycache__/
.idea/
.vscode/
.venv/
wheels/
*.whl
get-pip.py
output/*
!output/.gitkeep
stygan/ffhq.pkl
stygan/__pycache__/
*.log
*.pid
nohup.out
uwsgi.log
*.bak
*.bak2
out.png
*.pyc
*.pyo
*.pyd
*.tmp
*.DS_Store
*.egg-info/
db.sqlite3-journal
media/.DS_Store
static/.DS_Store
templates/.DS_Store
