<!DOCTYPE html>
<html lang="en" xmlns:background="http://www.w3.org/1999/xhtml">
<head>

{% load static %}
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>人工智能大数据命理</title>
    <link rel="stylesheet" type="text/css" href="{% static "input_phone.css" %}">
</head>
<body id="filebody" >

<div id="back1_phone">
<div id="head">人工智能大数据命理
</div>
    <div id="introduce">
我适合读什么专业？我适合做什么工作？哪个城市更适合我居住？你是否也曾被这些问题困扰呢？一匹马力气大小，走得快、慢，看看它各个部位是否均匀，毛色、神态与气息如何也就知道了。人，亦是如此。相由心生，一个人的心性如何也会从他的面相上显露出来。

本网站将传统面相学中的“五官”、“三停”和“十二宫位”等与当前最先进的人工智能相结合，利用大数据、计算机视觉和推荐系统等先进技术为您的未来提供助力，为您拨开云雾找到方向。在下方上传您的人脸图像我们会为您提供关于您职业、工作方位、个人性格等全方面的信息判断。
			</div>
    <div id="h1">命理分析</div>
    
	
	<div id="form" >
		<form method="post" enctype="multipart/form-data" name = "my post" >
				{% csrf_token %} 
				<div id="input">

					<div class="form_item1">
						
							<label for="id_sex_1" id="label_input3" class="label_input1">您的性别：</label>						
							<label for="id_sex_1"><input type="radio" name="sex" value="1" id="id_sex_1" checked="" required="">男</label>
							<label for="id_sex_2"><input type="radio" name="sex" value="2" id="id_sex_2" required="">女</label>

					</div>
						<div class="form_item1">
									<label id="label_input_age" class="label_input1" style="white-space:nowrap;display:inline-block;">您的生辰：</label>
									<div style="margin-left:2rem;">
									<input type="date" name="bazi_birth_date" required style="padding:0.15rem 0.3rem;" />
								</div>
									<div style="margin-top:0.3rem;margin-left:2rem;">
									<select name="bazi_birth_hour" style="padding:0.15rem 0.3rem;min-width:11rem;">
										<option value="" selected>时辰未填（默认12时）</option>
										<option value="0">00时</option><option value="1">01时</option><option value="2">02时</option>
										<option value="3">03时</option><option value="4">04时</option><option value="5">05时</option>
										<option value="6">06时</option><option value="7">07时</option><option value="8">08时</option>
										<option value="9">09时</option><option value="10">10时</option><option value="11">11时</option>
										<option value="12">12时</option><option value="13">13时</option><option value="14">14时</option>
										<option value="15">15时</option><option value="16">16时</option><option value="17">17时</option>
										<option value="18">18时</option><option value="19">19时</option><option value="20">20时</option>
										<option value="21">21时</option><option value="22">22时</option><option value="23">23时</option>
									</select>
								</div>
						</div>
					<div class="form_item2">
													<label for="cover" id="label_input2" class="label_input2">您的照片：</label>
							<button type="button"  id="cover" onclick="document.querySelector('#id_cover').click()")>选择文件</button>
						<input style="display:none" type="file" name="cover" id="id_cover" accept="image/*" required="">
							<!-- <label for="id_cover" id="label_input2" class="label_input2">您的照片：</label> -->
						<!-- <input type="file" name="cover" id="id_cover" accept="image/*" required=""> -->
					</div>

				</div>
			
				<button type="submit" id="button1" ></button>
		</form>
	</div>
<div id="logo2"></div>
    <!-- <div id="submit"></div> -->
	
</div>
</div>
<script type="text/javascript">
		var designWidth = 420, rem2px = 16;
　　　  document.documentElement.style.fontSize =((window.innerWidth / designWidth) * rem2px) + "px";
		var back = document.getElementById("filebody");
		back.style.width = window.innerWidth +"px";
		back.style.height = window.innerHeight + "px";
		back.style.backgroundSize = window.innerWidth +"px "+window.innerHeight + "px";
		console.log(window.innerWidth)
		console.log(window.innerHeight)


</script>
</body>

</html>