<!DOCTYPE html>
<html lang="en" xmlns:background="http://www.w3.org/1999/xhtml">
<head>

{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width， initial-scale=1" />
    <title>人工智能大数据命理</title>
    <link rel="stylesheet" type="text/css" href="{% static "show_phone.css" %}">
</head>
<body id="filebody" >

<div id="back1_phone">
<div id="head">人工智能大数据命理分析
</div>
    <div id="picture">
		<img id="person_image" src="{{ avatarUrl}}">
    </div>
    <div id="name"></div>
    <div id="recommend">
        <div id="job"><span>推荐职业：{{ job_message }}</span><br><span>幸运方位：{{ address }}</span><br><span>幸运颜色：{{ color }}</span></div>
    </div>
        <div id="eye" class="title">&diams;根据眼睛的结果</div>
        <div id="eye_text" class="text">{{ eye_block_str }}</div>
        <div id="nose" class="title">&diams;根据鼻子的结果</div>
        <div id="nose_text" class="text">{{ nose_block_str }}</div>
        <div id="mouse" class="title">&diams;根据嘴唇结果</div>
        <div id="mouse_text"  class="text">{{ lip_block_str }}</div>
        <div id="character" class="title">&#9775;综合评价</div>
		<div id="character_text" class="text">{{ person_str }}</div>
		
		{% if bazi_text_flow %}
		<div id="bazi_flow" class="title">&#9788;八字排盘 - 流年运势</div>
		<div id="bazi_flow_text" class="text">{{ bazi_text_flow|linebreaksbr }}</div>
		{% endif %}
		
		{% if bazi_text_prosperity %}
		<div id="bazi_prosperity" class="title">&#9788;八字排盘 - 旺衰定局</div>
		<div id="bazi_prosperity_text" class="text">{{ bazi_text_prosperity|linebreaksbr }}</div>
		{% endif %}
		
		{% if bazi_text_strategy %}
		<div id="bazi_strategy" class="title">&#9788;八字排盘 - 战略箴言</div>
		<div id="bazi_strategy_text" class="text">{{ bazi_text_strategy|linebreaksbr }}</div>
		{% endif %}
		
		<div class="banner-head">
			<div id="hunpei"class="title">&hearts;您的对象长的像谁?</div>
			<div class="partner-grid">
				{% if partner_image_urls and partner_image_urls|length >= 1 %}
				<div class="partner-item">
					<div class="qizi">
						<img class="qizi_image" src="{{ partner_image_urls.0 }}">
					</div>
				</div>
				{% endif %}
				{% if partner_image_urls and partner_image_urls|length >= 2 %}
				<div class="partner-item">
					<div class="qizi">
						<img class="qizi_image" src="{{ partner_image_urls.1 }}">
					</div>
				</div>
				{% endif %}
				{% if partner_image_urls and partner_image_urls|length >= 3 %}
				<div class="partner-item">
					<div class="qizi">
						<img class="qizi_image" src="{{ partner_image_urls.2 }}">
					</div>
				</div>
				{% endif %}
			</div>
			<div id="logo2"></div>
			<div id="download_wrapper">
				<div id="download" >下载报告</div>
			</div>
		</div>
	
	</div>
</div>
<script type="text/javascript">
		var designWidth = 420, rem2px = 16;
　　　  document.documentElement.style.fontSize =((window.innerWidth / designWidth) * rem2px) + "px";
		var back = document.getElementById("filebody");
		back.style.width = window.innerWidth +"px";
		back.style.height = window.innerHeight + "px";
		back.style.backgroundSize = window.innerWidth +"px "+window.innerHeight + "px";
		var button_ch = document.getElementById("download");
        button_ch.onclick = function () {
			window.location.href="/download/"
        }

</script>
<!-- 
<script type="text/javascript">
html2canvas(document.querySelector("#back1_phone")).then(
	canvas => {
		console.log(" == > canvas");
		console.log(canvas);
		
		console.log(" == > canvas.toDataURL");
		console.log(canvas.toDataURL("image/png"));
		// document.body.appendChild(canvas);

		let image = canvas.toDataURL("image/png");

		window.location.href=image; 
		console.log(" ==> image");
		console.log(image);
	});
</script> -->
</body>
</html>